# Merging DataFrames
- Merging them horizontally
- Concatenating them vertically

## Outer join and Inner join
- Outer - Union
- Inner - Intersection

In [1]:
import pandas as pd

In [2]:
staff_df = pd.DataFrame([{'Name':'Kelly', 'Role':'Director of HR'},
                        {'Name':'Sally', 'Role':'Course Liasion'},
                        {'Name':'James', 'Role':'Grader'}])

staff_df = staff_df.set_index('Name')

student_df = pd.DataFrame([{'Name':'Mike', 'School':'Law'},
                        {'Name':'Sally', 'School':'Engineering'},
                        {'Name':'James', 'School':'Business'}])
student_df = student_df.set_index('Name')
print(staff_df)
print(student_df)

                 Role
Name
Kelly  Director of HR
Sally  Course Liasion
James          Grader
            School
Name
Mike           Law
Sally  Engineering
James     Business

In [3]:
# one df, second df, outer (default is inner), index value to be used
# Outer -> Union
pd.merge(staff_df,student_df,how='outer',left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course Liasion  Engineering

In [4]:
# Inner -> Intersection
pd.merge(staff_df,student_df,how='inner',left_index=True,right_index=True)

                 Role       School
Name
Sally  Course Liasion  Engineering
James          Grader     Business

In [5]:
# Left -> Only staff
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course Liasion  Engineering
James          Grader     Business

In [6]:
# Right -> Only student
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role       School
Name
Mike              NaN          Law
Sally  Course Liasion  Engineering
James          Grader     Business

In [7]:
# on parameter - allows us to use a common column for merging
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()

In [8]:
pd.merge(staff_df, student_df, how="right", on="Name")

    Name            Role       School
0   Mike             NaN          Law
1  Sally  Course Liasion  Engineering
2  James          Grader     Business

In [9]:
# But what if there's a conflict of column
# _x is for left dataframe
# _y is for right dataframe
staff_df = pd.DataFrame([{'Name':'Kelly', 'Role':'Director of HR', 'Location':'State Street'},
                        {'Name':'Sally', 'Role':'Course Liasion', 'Location':'Washington Ave'},
                        {'Name':'James', 'Role':'Grader', 'Location':'Washington Ave'}])

student_df = pd.DataFrame([{'Name':'Mike', 'School':'Law','Location':'Billiard'},
                        {'Name':'Sally', 'School':'Engineering', 'Location':'Frat'},
                        {'Name':'James', 'School':'Business','Location':'Wilson'}])

In [10]:
pd.merge(staff_df,student_df,how='left',on='Name')

    Name            Role      Location_x       School Location_y
0  Kelly  Director of HR    State Street          NaN        NaN
1  Sally  Course Liasion  Washington Ave  Engineering       Frat
2  James          Grader  Washington Ave     Business     Wilson

In [11]:
# location x and location y refers to location column in left and right data frame

In [12]:
# Multi-indexing and multiple columns
# It's possible that the first name of students and staff may overlap but the last might not
# In this case we use a list of multiple columns that should be used to join keys from both df

staff_df = pd.DataFrame([{'First Name':'Kelly', 'Role':'Director of HR', 'Last Name':'State'},
                        {'First Name':'Sally', 'Role':'Course Liasion', 'Last Name':'Brooks'},
                        {'First Name':'James', 'Role':'Grader', 'Last Name':'Wilde'}])

student_df = pd.DataFrame([{'First Name':'Mike', 'School':'Law','Last Name':'Smith'},
                        {'First Name':'Sally', 'School':'Engineering', 'Last Name':'Brooks'},
                        {'First Name':'James', 'School':'Business','Last Name':'Ham'}])

In [13]:
pd.merge(staff_df, student_df, how='inner',on=['First Name','Last Name'])

  First Name            Role Last Name       School
0      Sally  Course Liasion    Brooks  Engineering

In [14]:
pd.merge(staff_df, student_df, how='outer',on=['First Name','Last Name'])

  First Name            Role Last Name       School
0      Kelly  Director of HR     State          NaN
1      Sally  Course Liasion    Brooks  Engineering
2      James          Grader     Wilde          NaN
3       Mike             NaN     Smith          Law
4      James             NaN       Ham     Business

### Merging is joining Horizontally - join on similar values in a column found in two DFs

# Vertically joining
### Concatenating is joining vertically - putting DFs on top or at the bottom of each other

In [15]:
# Dataframes are unavailable 

# dataframes = [df_2011, df_2012, df_2013]
# pd.concat(dataframes)
# # or 
# # keys are different from index
# pd.concat(frames, keys=['2011','2012','2013'])

# Pandas Idioms - Pandorable
- Vectorization
- Chaining
- Map
- ApplyMap
- Apply

In [16]:
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [17]:
# CHAINING - chaining of methods
# Faster

(df.where(df['SUMLEV']==50)
    .dropna()
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'ESTIMATESBASE2010':'Estimates base 2010'}))

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County       50.0     3.0       6.0    1.0     1.0
        Baldwin County       50.0     3.0       6.0    1.0     3.0
        Barbour County       50.0     3.0       6.0    1.0     5.0
        Bibb County          50.0     3.0       6.0    1.0     7.0
        Blount County        50.0     3.0       6.0    1.0     9.0
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County    50.0     4.0       8.0   56.0    37.0
        Teton County         50.0     4.0       8.0   56.0    39.0
        Uinta County         50.0     4.0       8.0   56.0    41.0
        Washakie County      50.0     4.0       8.0   56.0    43.0
        Weston County        50.0     4.0       8.0   56.0    45.0

                           CENSUS2010POP  Estimates base 2010  \
STNAME  CTYNAME
Alabama Autauga County           54571.0              54571.0
        Baldwin County          182265.0             182265.0
        Barbour County           27457.0              27457.0
        Bibb County              22915.0              22919.0
        Blount County            57322.0              57322.0
...                                  ...                  ...
Wyoming Sweetwater County        43806.0              43806.0
        Teton County             21294.0              21294.0
        Uinta County             21118.0              21118.0
        Washakie County           8533.0               8533.0
        Weston County             7208.0               7208.0

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County             54660.0          55253.0          55175.0
        Baldwin County            183193.0         186659.0         190396.0
        Barbour County             27341.0          27226.0          27159.0
        Bibb County                22861.0          22733.0          22642.0
        Blount County              57373.0          57711.0          57776.0
...                                    ...              ...              ...
Wyoming Sweetwater County          43593.0          44041.0          45104.0
        Teton County               21297.0          21482.0          21697.0
        Uinta County               21102.0          20912.0          20989.0
        Washakie County             8545.0           8469.0           8443.0
        Weston County               7181.0           7114.0           7065.0

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [18]:
import timeit

In [19]:
df = pd.read_csv('census.csv')

In [20]:
def firstapproach():
    global df
    return (df.where(df['SUMLEV']==50)
            .dropna()
            .set_index(['STNAME','CTYNAME'])
            .rename(columns={'ESTIMATESBASE2010':'Estimates base 2010'}))

timeit.timeit(firstapproach,number=10)

0.17256165899999587

In [21]:
def secondapproach():
    global df
    new = df[df['SUMLEV'] == 50]
    new.set_index(['STNAME','CTYNAME'], inplace=True)
    return new.rename(columns={'ESTIMATESBASE2010':'Estimates base 2010'})

timeit.timeit(secondapproach,number=10)

0.05484718099998531

In [22]:
# second approach is much faster

In [23]:
import numpy as np

In [24]:
# Apply function
# Example - min max values from population data
def minmax(row):
    data = [row['POPESTIMATE2010'], row['POPESTIMATE2011'],row['POPESTIMATE2012'],row['POPESTIMATE2013'],row['POPESTIMATE2014'],row['POPESTIMATE2015']]
    
    minn = np.min(data)
    maxx = np.max(data)
    return pd.Series({'min':minn, 'max':maxx})
#     return minn, maxx

In [25]:
df.apply(minmax,axis='columns')

          min      max
0     4785161  4858979
1       54660    55347
2      183193   203709
3       26489    27341
4       22512    22861
...       ...      ...
3188    43593    45162
3189    21297    23125
3190    20822    21102
3191     8316     8545
3192     7065     7234

[3193 rows x 2 columns]

In [26]:
# we can use apply on individual cells 
# get_state_region returns north, west, east, south based on state name
# df['state_region'] = df['STNAME'].apply(lambda x: get_state_region(x))

# Group by

## Splitting

In [27]:
df = pd.read_csv('census.csv')
df = df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [28]:
# list of unique states, iterate over all, for each state we reduce the data frame and calculate the avg
# timeit

In [130]:
# %%timeit -n 3

# for state in df['STNAME'].unique():
#     avg = np.average(df.where(df['STNAME'] == state).dropna()['CENSUS2010POP'])
#     print('Counties in state '+state+' have an avg population of '+str(avg))

In [131]:
# %%timeit -n 3
# for group, frame in df.groupby('STNAME'):
#     avg = np.average([frame['CENSUS2010POP']])
#     print('Counties in state '+group+' have an avg population of '+str(avg))

In [31]:
# set batch number - if first letter of parameter is capital M, we will return 0. If Q, we will return 1 or else 2.
df = pd.read_csv('census.csv')
df = df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [32]:
# we can also group by a function but we need to set an index for that
# the function will receive the index

xdf = df.set_index('STNAME')
# goruping by initial letter of state
def setbatch(item): 
    if item[0] < 'M':
        return 0
    if item[0] < 'Q':
        return 1
    return 2

for group, frame in xdf.groupby(setbatch):
    print(group)
    print('There are '+str(len(frame))+' records in group '+str(group)+' for processing.')

0
There are 1177 records in group 0 for processing.
1
There are 1134 records in group 1 for processing.
2
There are 831 records in group 2 for processing.

In [33]:
ydf = df.set_index('CENSUS2010POP')
ydf.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
CENSUS2010POP,,,,,,,,,,,,,,,,,,,,,
54571,50,3,6,1,1,Alabama,Autauga County,54571,54660,55253,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
182265,50,3,6,1,3,Alabama,Baldwin County,182265,183193,186659,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
27457,50,3,6,1,5,Alabama,Barbour County,27457,27341,27226,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
22915,50,3,6,1,7,Alabama,Bibb County,22919,22861,22733,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
57322,50,3,6,1,9,Alabama,Blount County,57322,57373,57711,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [34]:
def evenoddpop(item):
    if item%2 == 0:
        return 'even'
    else:
        return 'odd'
    
for group, frame in ydf.groupby(evenoddpop):
    print(group, frame['CTYNAME'])

even CENSUS2010POP
57322         Blount County
10914        Bullock County
118572       Calhoun County
13932           Clay County
14972       Cleburne County
                ...
29116       Sheridan County
43806     Sweetwater County
21294          Teton County
21118          Uinta County
7208          Weston County
Name: CTYNAME, Length: 1544, dtype: object
odd CENSUS2010POP
54571      Autauga County
182265     Baldwin County
27457      Barbour County
22915         Bibb County
20947       Butler County
               ...
8569       Johnson County
28205         Park County
8667        Platte County
10247     Sublette County
8533      Washakie County
Name: CTYNAME, Length: 1598, dtype: object

In [35]:
zdf = df.set_index(['STNAME','CENSUS2010POP'])
zdf.head()

                       SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CENSUS2010POP
Alabama 54571              50       3         6      1       1
        182265             50       3         6      1       3
        27457              50       3         6      1       5
        22915              50       3         6      1       7
        57322              50       3         6      1       9

                              CTYNAME  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CENSUS2010POP
Alabama 54571          Autauga County              54571            54660
        182265         Baldwin County             182265           183193
        27457          Barbour County              27457            27341
        22915             Bibb County              22919            22861
        57322           Blount County              57322            57373

                       POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CENSUS2010POP                                    ...
Alabama 54571                    55253            55175  ...
        182265                  186659           190396  ...
        27457                    27226            27159  ...
        22915                    22733            22642  ...
        57322                    57711            57776  ...

                       RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME  CENSUS2010POP
Alabama 54571                  7.242091         -2.915927         -3.012349
        182265                14.832960         17.647293         21.845705
        27457                 -4.728132         -2.500690         -7.056824
        22915                 -5.527043         -5.068871         -6.201001
        57322                  1.807375         -1.177622         -1.748766

                       RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME  CENSUS2010POP
Alabama 54571                  2.265971         -2.530799     7.606016
        182265                19.243287         17.197872    15.844176
        27457                 -3.904217        -10.543299    -4.874741
        22915                 -0.177537          0.177258    -5.088389
        57322                 -2.062535         -1.369970     1.859511

                       RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CENSUS2010POP
Alabama 54571            -2.626146    -2.722002     2.592270    -2.187333
        182265           18.559627    22.727626    20.317142    18.293499
        27457            -2.758113    -7.167664    -3.978583   -10.543299
        22915            -4.363636    -5.403729     0.754533     1.107861
        57322            -0.848580    -1.402476    -1.577232    -0.884411

[5 rows x 98 columns]

In [36]:
def evenoddpop(item):
#     print(item)
    if item[0][0] < 'M' and item[1]%2 == 0:
        return 1
    if item[0][0] <'M' and item[1]%2 != 0:
        return 2
    if item[0][0] >='M' and item[1]%2 == 0:
        return 3
    return 4
    
for group, frame in zdf.groupby(evenoddpop):
    print(group, len(frame))

1 591
2 586
3 953
4 1012

## Airbnb data

In [37]:
df = pd.read_csv('listings.csv')
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [38]:
df = df.set_index(['cancellation_policy','review_scores_value'])

In [39]:
for group, grame in df.groupby(level=(0,1)):
    print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

In [40]:
def score_group(item):
    if item[1] == 10:
        return item[0],'10'
    return item[0],'not 10'

In [41]:
for group, frame in df.groupby(score_group):
    print(group)

('flexible', '10')
('flexible', 'not 10')
('moderate', '10')
('moderate', 'not 10')
('strict', '10')
('strict', 'not 10')
('super_strict_30', '10')
('super_strict_30', 'not 10')

In [42]:
df.head()

                                               id  \
cancellation_policy review_scores_value
moderate            NaN                  12147973
                    9.0                   3075044
                    10.0                     6976
                    10.0                  1436513
flexible            10.0                  7651065

                                                                   listing_url  \
cancellation_policy review_scores_value
moderate            NaN                  https://www.airbnb.com/rooms/12147973
                    9.0                   https://www.airbnb.com/rooms/3075044
                    10.0                     https://www.airbnb.com/rooms/6976
                    10.0                  https://www.airbnb.com/rooms/1436513
flexible            10.0                  https://www.airbnb.com/rooms/7651065

                                              scrape_id last_scraped  \
cancellation_policy review_scores_value
moderate            NaN                  20160906204935   2016-09-07
                    9.0                  20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
flexible            10.0                 20160906204935   2016-09-07

                                                                                  name  \
cancellation_policy review_scores_value
moderate            NaN                                     Sunny Bungalow in the City
                    9.0                              Charming room in pet friendly apt
                    10.0                              Mexican Folk Art Haven in Boston
                    10.0                 Spacious Sunny Bedroom Suite in Historic Home
flexible            10.0                                           Come Home to Boston

                                                                                   summary  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                                                                     space  \
cancellation_policy review_scores_value
moderate            NaN                  The house has an open and cozy feel at the sam...
                    9.0                  Small but cozy and quite room with a full size...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Most places you find in Boston are small howev...
flexible            10.0                 Clean, attractive, private room, one block fro...

                                                                               description  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                        experiences_offered  \
cancellation_policy review_scores_value
moderate            NaN                                none
                    9.0                                none
                    10.0                               none
                    10.0                               none
flexible            10.0                               none

                                                                     neighborhood_overview  \
cancellation_policy review_scores_value
moderate            NaN                  Roslindale is quiet, convenient and friendly. ...
                    9.0                  The room is in Roslindale, a diverse and prima...
                    10.0                 The LOCATION: Roslindale is a safe and diverse...
                    10.0                 Roslindale is a lovely little neighborhood loc...
flexible            10.0                 I love the proximity to downtown, the neighbor...

                                         ... review_scores_communication  \
cancellation_policy review_scores_value  ...
moderate            NaN                  ...                         NaN
                    9.0                  ...                        10.0
                    10.0                 ...                        10.0
                    10.0                 ...                        10.0
flexible            10.0                 ...                        10.0

                                        review_scores_location  \
cancellation_policy review_scores_value
moderate            NaN                                    NaN
                    9.0                                    9.0
                    10.0                                   9.0
                    10.0                                  10.0
flexible            10.0                                   9.0

                                        requires_license license  \
cancellation_policy review_scores_value
moderate            NaN                                f     NaN
                    9.0                                f     NaN
                    10.0                               f     NaN
                    10.0                               f     NaN
flexible            10.0                               f     NaN

                                        jurisdiction_names instant_bookable  \
cancellation_policy review_scores_value
moderate            NaN                                NaN                f
                    9.0                                NaN                t
                    10.0                               NaN                f
                    10.0                               NaN                f
flexible            10.0                               NaN                f

                                        require_guest_profile_picture  \
cancellation_policy review_scores_value
moderate            NaN                                             f
                    9.0                                             f
                    10.0                                            t
                    10.0                                            f
flexible            10.0                                            f

                                        require_guest_phone_verification  \
cancellation_policy review_scores_value
moderate            NaN                                                f
                    9.0                                                f
                    10.0                                               f
                    10.0                                               f
flexible            10.0                                               f

                                        calculated_host_listings_count  \
cancellation_policy review_scores_value
moderate            NaN                                              1
                    9.0                                              1
                    10.0                                             1
                    10.0                                             1
flexible            10.0                                             1

                                         reviews_per_month
cancellation_policy review_scores_value
moderate            NaN                                NaN
                    9.0                               1.30
                    10.0                              0.47
                    10.0                              1.00
flexible            10.0                              2.25

[5 rows x 93 columns]

## Three broad categories of data processing - 
### - Aggregation of group data
### - Transformation of group data
### - Filteration of group data

# Aggregation

In [43]:
# agg() on the group by object
# With Agg we can pass in a dictionary of columns we are interested in aggregating along with the function

df = df.reset_index()

In [44]:
df.head()

,cancellation_policy,review_scores_value,id,listing_url,scrape_id,last_scraped,name,summary,space,description,...,review_scores_communication,review_scores_location,requires_license,license,jurisdiction_names,instant_bookable,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,moderate,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",...,NaN,NaN,f,NaN,NaN,f,f,f,1,NaN
1,moderate,9.0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,...,10.0,9.0,f,NaN,NaN,t,f,f,1,1.30
2,moderate,10.0,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",...,10.0,9.0,f,NaN,NaN,f,t,f,1,0.47
3,moderate,10.0,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,...,10.0,10.0,f,NaN,NaN,f,f,f,1,1.00
4,flexible,10.0,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",...,10.0,9.0,f,NaN,NaN,f,f,f,1,2.25

In [45]:
# for key,value in df.groupby('cancellation_policy'):
#     print(key,'\t', value['review_scores_value'])

In [46]:
df.groupby('cancellation_policy').agg({'review_scores_value':np.average})

                     review_scores_value
cancellation_policy
flexible                             NaN
moderate                             NaN
strict                               NaN
super_strict_30                      NaN

In [47]:
df.groupby('cancellation_policy').agg({'review_scores_value':np.nanmean})

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [48]:
# Multiple functions multiple columns 
df.groupby('cancellation_policy').agg({'review_scores_value':(np.nanmean,np.nanstd), 'reviews_per_month':np.nanmean})

                    review_scores_value           reviews_per_month
                                nanmean    nanstd           nanmean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

# Transformation

In [49]:
df = pd.read_csv('listings.csv')
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [50]:
# Transforms the data using the provided functions

cols = ['cancellation_policy','review_scores_value']

transform_df = df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df.head()

   review_scores_value
0             9.307398
1             9.307398
2             9.307398
3             9.307398
4             9.237421

In [51]:
# Let's just join this in. 
# Before that, let's rename the column in the transformed version

transform_df.rename({'review_scores_value':'mean_review_scores'}, axis='columns',inplace=True)
transform_df

      mean_review_scores
0               9.307398
1               9.307398
2               9.307398
3               9.307398
4               9.237421
...                  ...
3580            9.081441
3581            9.081441
3582            9.237421
3583            9.081441
3584            9.237421

[3585 rows x 1 columns]

In [52]:
df = df.merge(transform_df, left_index=True,right_index=True)
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,f,NaN,NaN,f,moderate,f,f,1,NaN,9.307398
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,f,NaN,NaN,t,moderate,f,f,1,1.30,9.307398
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,f,NaN,NaN,f,moderate,t,f,1,0.47,9.307398
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,f,NaN,NaN,f,moderate,f,f,1,1.00,9.307398
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,f,NaN,NaN,f,flexible,f,f,1,2.25,9.237421

In [53]:
'mean_review_scores' in df.columns

True

In [54]:
df['mean_review_scores'].unique()

array([9.30739796, 9.23742138, 9.08144088, 8.53731343])

In [55]:
# difference beteween a given row and its group (cancellation policy) means

df['mean_diff'] = np.absolute(df['review_scores_value'] - df['mean_review_scores'])
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores,mean_diff
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,NaN,f,moderate,f,f,1,NaN,9.307398,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,NaN,NaN,t,moderate,f,f,1,1.30,9.307398,0.307398
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,NaN,NaN,f,moderate,t,f,1,0.47,9.307398,0.692602
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,NaN,NaN,f,moderate,f,f,1,1.00,9.307398,0.692602
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,NaN,NaN,f,flexible,f,f,1,2.25,9.237421,0.762579

In [56]:
df['mean_diff'].head()

0         NaN
1    0.307398
2    0.692602
3    0.692602
4    0.762579
Name: mean_diff, dtype: float64

In [57]:
# groups which have a mean rating above 9
df.groupby('cancellation_policy').filter(lambda x: np.nanmean(x['review_scores_value'])>9.2)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores,mean_diff
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,NaN,f,moderate,f,f,1,NaN,9.307398,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,NaN,NaN,t,moderate,f,f,1,1.30,9.307398,0.307398
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,NaN,NaN,f,moderate,t,f,1,0.47,9.307398,0.692602
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,NaN,NaN,f,moderate,f,f,1,1.00,9.307398,0.692602
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,NaN,NaN,f,flexible,f,f,1,2.25,9.237421,0.762579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3576,14689681,https://www.airbnb.com/rooms/14689681,20160906204935,2016-09-07,Beautiful loft style bedroom with large bathroom,You'd be living on the top floor of a four sto...,NaN,You'd be living on the top floor of a four sto...,none,NaN,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3577,13750763,https://www.airbnb.com/rooms/13750763,20160906204935,2016-09-07,Comfortable Space in the Heart of Brookline,"Our place is close to Coolidge Corner, Allston...",This space consists of 2 Rooms and a private b...,"Our place is close to Coolidge Corner, Allston...",none,Brookline is known for being an excellent and ...,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3579,14852179,https://www.airbnb.com/rooms/14852179,20160906204935,2016-09-07,Spacious Queen Bed Room Close to Boston Univer...,- Grocery: A full-size Star market is 2 minute...,NaN,- Grocery: A full-size Star market is 2 minute...,none,NaN,...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3582,14585486,https://www.airbnb.com/rooms/14585486,20160906204935,2016-09-07,Gorgeous funky apartment,Funky little apartment close to public transpo...,Modern and relaxed space with many facilities ...,Funky little apartment close to public transpo...,none,"Cambridge is a short walk into Boston, and set...",...,NaN,NaN,f,flexible,f,f,1,NaN,9.237421,NaN
3584,14504422,https://www.airbnb.com/rooms/14504422,20160906204935,2016-09-07,(K1) Private Room near Harvard/MIT,My place is close to My home is a warm and fri...,To ensure a smooth check in: 1. You MUST have ...,My place is close to My home is a warm and fri...,none,NaN,...,NaN,NaN,t,flexible,f,f,3,NaN,9.237421,NaN

# Applying

In [58]:
df = pd.read_csv('listings.csv')
df=df[['cancellation_policy','review_scores_value']]
df.head()

  cancellation_policy  review_scores_value
0            moderate                  NaN
1            moderate                  9.0
2            moderate                 10.0
3            moderate                 10.0
4            flexible                 10.0

In [59]:
# Earlier we saw average review score of a listing and its deviation from mean 
# Two step process - Transform on the groupby object and then we had to broadcasxt to create a new column
# with apply we could wrap into one place

def calc_mean_review_scores(group):
    avg = np.nanmean(group['review_scores_value'])
    group['review_scores_mean'] = np.abs(avg-group['review_scores_value'])
    return group

In [60]:
df.groupby('cancellation_policy').apply(calc_mean_review_scores).head()

  cancellation_policy  review_scores_value  review_scores_mean
0            moderate                  NaN                 NaN
1            moderate                  9.0            0.307398
2            moderate                 10.0            0.692602
3            moderate                 10.0            0.692602
4            flexible                 10.0            0.762579

In [61]:
# Apply could be slower - slower than agg

# Scales

In [62]:
df = pd.DataFrame(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D'],
                 index=['excellent','excellent','excellent','good','good','good','ok','ok','ok','poor','poor'], 
                  columns=['Grades'])
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [63]:
df.dtypes

Grades    object
dtype: object

In [64]:
df['Grades'].astype('category').head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['A', 'A+', 'A-', 'B', ..., 'C+', 'C-', 'D', 'D+']

In [65]:
# now it is also aware of the order A+ being highest
mycat = pd.CategoricalDtype(categories=['D', 'D+','C-','C','C+','B-','B','B+', 'A-','A','A+'],
                           ordered=True)

grades = df['Grades'].astype(mycat)
grades.head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [66]:
# usage - 
# so lexicographical comparison doesn't give expected result

df[df['Grades']>'C']

     Grades
ok       C+
ok       C-
poor     D+
poor      D

In [67]:
# but with ordered list of categorical grades, it works just fine
grades[grades>'C']

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [68]:
# min max and other mathematical operators will work on these too

In [69]:
df = pd.read_csv('census.csv')
df[df['SUMLEV'] == 50]
df = df.set_index('STNAME').groupby(level=0)['CENSUS2010POP'].agg(np.average)
df.head()

STNAME
Alabama       1.405805e+05
Alaska        4.734873e+04
Arizona       7.990021e+05
Arkansas      7.673468e+04
California    1.262846e+06
Name: CENSUS2010POP, dtype: float64

In [70]:

# CUT
pd.cut(df,10)

STNAME
Alabama                    (23065.339, 148158.089]
Alaska                     (23065.339, 148158.089]
Arizona                    (767429.132, 891283.34]
Arkansas                   (23065.339, 148158.089]
California              (1138991.758, 1262845.966]
Colorado                  (148158.089, 272012.298]
Connecticut                (767429.132, 891283.34]
Delaware                  (395866.506, 519720.715]
District of Columbia      (519720.715, 643574.923]
Florida                   (519720.715, 643574.923]
Georgia                    (23065.339, 148158.089]
Hawaii                    (395866.506, 519720.715]
Idaho                      (23065.339, 148158.089]
Illinois                  (148158.089, 272012.298]
Indiana                    (23065.339, 148158.089]
Iowa                       (23065.339, 148158.089]
Kansas                     (23065.339, 148158.089]
Kentucky                   (23065.339, 148158.089]
Louisiana                  (23065.339, 148158.089]
Maine                     (148158.089, 272012.298]
Maryland                  (395866.506, 519720.715]
Massachusetts              (767429.132, 891283.34]
Michigan                  (148158.089, 272012.298]
Minnesota                  (23065.339, 148158.089]
Mississippi                (23065.339, 148158.089]
Missouri                   (23065.339, 148158.089]
Montana                    (23065.339, 148158.089]
Nebraska                   (23065.339, 148158.089]
Nevada                    (272012.298, 395866.506]
New Hampshire             (148158.089, 272012.298]
New Jersey                 (767429.132, 891283.34]
New Mexico                 (23065.339, 148158.089]
New York                  (519720.715, 643574.923]
North Carolina            (148158.089, 272012.298]
North Dakota               (23065.339, 148158.089]
Ohio                      (148158.089, 272012.298]
Oklahoma                   (23065.339, 148158.089]
Oregon                    (148158.089, 272012.298]
Pennsylvania              (272012.298, 395866.506]
Rhode Island              (272012.298, 395866.506]
South Carolina            (148158.089, 272012.298]
South Dakota               (23065.339, 148158.089]
Tennessee                  (23065.339, 148158.089]
Texas                     (148158.089, 272012.298]
Utah                      (148158.089, 272012.298]
Vermont                    (23065.339, 148158.089]
Virginia                   (23065.339, 148158.089]
Washington                (272012.298, 395866.506]
West Virginia              (23065.339, 148158.089]
Wisconsin                 (148158.089, 272012.298]
Wyoming                    (23065.339, 148158.089]
Name: CENSUS2010POP, dtype: category
Categories (10, interval[float64]): [(23065.339, 148158.089] < (148158.089, 272012.298] < (272012.298, 395866.506] < (395866.506, 519720.715] ... (767429.132, 891283.34] < (891283.34, 1015137.549] < (1015137.549, 1138991.758] < (1138991.758, 1262845.966]]

# Pivot table
A way of summarizing data in dataframe.

In [71]:
# df = pd.read_csv('cwurData.csv')
# df.head()

In [72]:
# df.set_index('world_rank')

In [73]:
# Approach 1
# def tier(item):
#     if item>=1 and item<=100:
#         return 1
#     if item>=101 and item<=200:
#         return 2
#     if item>=201 and item<=300:
#         return 3
#     return 4

# for group, frame in df.groupby(tier):
#     print('Tier ',group,'\n', frame['institution'])

In [74]:
df = pd.read_csv('cwurData.csv')
df.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

In [75]:
# approach 2
# tempdf = pd.read_csv('cwurData.csv')
# tempdf.head()
# def applytier(row):
#     if (row['world_rank']>=1) and (row['world_rank']<=100):
#         row['Rank_Level'] = 'First Tier Top University'
#     elif (row['world_rank']>=101) and (row['world_rank']<=200):
#         row['Rank_Level'] = 'Second Tier Top University'
#     elif (row['world_rank']>=201) and (row['world_rank']<=300):
#         row['Rank_Level'] = 'Third Tier Top University'
#     else:
#         row['Rank_Level'] = 'Other Top University'
#     return row

# tempdf = tempdf.apply(lambda x: applytier(x),axis='columns')
# tempdf.head()

In [76]:
def category(ranking):
    if (ranking >= 1) & (ranking <=100):
        return 'First Tier Top University'
    if (ranking >= 101) & (ranking <=200):
        return 'Second Tier Top University'
    if (ranking >= 201) & (ranking <=300):
        return 'Third Tier Top University'
    return 'Other Top University'

df['Rank_Level'] = df['world_rank'].apply(lambda x: category(x))

In [77]:
df.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,Rank_Level
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012,First Tier Top University
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012,First Tier Top University
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012,First Tier Top University
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012,First Tier Top University
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012,First Tier Top University

### Let's say we want to compare rank level vs country of universities in terms of overall score
- we want the values to be score, index to be country, columns to be rank level. 
- And then, we use agg functions

In [78]:
df.pivot_table(values='score',index='country',columns='Rank_Level',aggfunc=[np.mean]).head()

                                mean                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706


Rank_Level Second Tier Top University Third Tier Top University
country
Argentina                         NaN                       NaN
Australia                     49.2425                 47.285000
Austria                           NaN                 47.066667
Belgium                       49.0840                 46.746667
Brazil                        49.5650                       NaN

In [79]:
df.pivot_table(values='score',index='country',columns='Rank_Level',aggfunc=[np.mean,np.max]).head()

                                mean                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706

                                                                 \
Rank_Level Second Tier Top University Third Tier Top University
country
Argentina                         NaN                       NaN
Australia                     49.2425                 47.285000
Austria                           NaN                 47.066667
Belgium                       49.0840                 46.746667
Brazil                        49.5650                       NaN

                                amax                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21
Brazil                           NaN                46.08


Rank_Level Second Tier Top University Third Tier Top University
country
Argentina                         NaN                       NaN
Australia                       50.40                     47.47
Austria                           NaN                     47.78
Belgium                         49.73                     47.14
Brazil                          49.82                       NaN

In [80]:
df.pivot_table(values='score',index='country',columns='Rank_Level',aggfunc=[np.mean,np.max],margins=True).head()

                                mean                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706

                                                                            \
Rank_Level Second Tier Top University Third Tier Top University        All
country
Argentina                         NaN                       NaN  44.672857
Australia                     49.2425                 47.285000  45.825517
Austria                           NaN                 47.066667  45.139583
Belgium                       49.0840                 46.746667  47.011000
Brazil                        49.5650                       NaN  44.781111

                                amax                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21
Brazil                           NaN                46.08


Rank_Level Second Tier Top University Third Tier Top University    All
country
Argentina                         NaN                       NaN  45.66
Australia                       50.40                     47.47  51.61
Austria                           NaN                     47.78  47.78
Belgium                         49.73                     47.14  52.03
Brazil                          49.82                       NaN  49.82

In [81]:
new_df = df.pivot_table(values='score',index='country',columns='Rank_Level',aggfunc=[np.mean,np.max],margins=True)
print(new_df.index)
print(new_df.columns)

Index(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Colombia', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Egypt', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Iran',
       'Ireland', 'Israel', 'Italy', 'Japan', 'Lebanon', 'Lithuania',
       'Malaysia', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Puerto Rico', 'Romania', 'Russia', 'Saudi Arabia',
       'Serbia', 'Singapore', 'Slovak Republic', 'Slovenia', 'South Africa',
       'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Turkey', 'USA', 'Uganda', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'All'],
      dtype='object', name='country')
MultiIndex([('mean',  'First Tier Top University'),
            ('mean',       'Other Top University'),
            ('mean', 'Second Tier Top University'),
            ('mean',  'Third Tier Top University'),
            ('mean',                        'All'),
            ('amax',  'First Tier Top University'),
            ('amax',       'Other Top University'),
            ('amax', 'Second Tier Top University'),
            ('amax',  'Third Tier Top University'),
            ('amax',                        'All')],
           names=[None, 'Rank_Level'])

In [82]:
new_df['mean']['First Tier Top University'].head()

country
Argentina        NaN
Australia    47.9425
Austria          NaN
Belgium      51.8750
Brazil           NaN
Name: First Tier Top University, dtype: float64

In [83]:
type(new_df['mean']['First Tier Top University'])

pandas.core.series.Series

### idxmax function

In [84]:
# Maximum average score on first tier 
# idxmax function
new_df['mean']['First Tier Top University'].idxmax()

'United Kingdom'

In [85]:
new_df['mean']['First Tier Top University']['United Kingdom']

63.93793103448276

In [86]:
new_df['mean']['First Tier Top University']['USA']

61.066726457399135

### Stacking and Unstacking

In [87]:
new_df.head()

                                mean                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706

                                                                            \
Rank_Level Second Tier Top University Third Tier Top University        All
country
Argentina                         NaN                       NaN  44.672857
Australia                     49.2425                 47.285000  45.825517
Austria                           NaN                 47.066667  45.139583
Belgium                       49.0840                 46.746667  47.011000
Brazil                        49.5650                       NaN  44.781111

                                amax                       \
Rank_Level First Tier Top University Other Top University
country
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21
Brazil                           NaN                46.08


Rank_Level Second Tier Top University Third Tier Top University    All
country
Argentina                         NaN                       NaN  45.66
Australia                       50.40                     47.47  51.61
Austria                           NaN                     47.78  47.78
Belgium                         49.73                     47.14  52.03
Brazil                          49.82                       NaN  49.82

In [88]:
# Stacking 
new_df = new_df.stack()
new_df.head()

                                           mean   amax
country   Rank_Level
Argentina Other Top University        44.672857  45.66
          All                         44.672857  45.66
Australia First Tier Top University   47.942500  51.61
          Other Top University        44.645750  45.97
          Second Tier Top University  49.242500  50.40

In [89]:
# unstacking 
new_df.unstack().head()

                                mean                       \
Rank_Level First Tier Top University Other Top University
country
All                        58.350675            44.738871
Argentina                        NaN            44.672857
Australia                  47.942500            44.645750
Austria                          NaN            44.864286
Belgium                    51.875000            45.081000

                                                                            \
Rank_Level Second Tier Top University Third Tier Top University        All
country
All                          49.06545                 46.843450  47.798395
Argentina                         NaN                       NaN  44.672857
Australia                    49.24250                 47.285000  45.825517
Austria                           NaN                 47.066667  45.139583
Belgium                      49.08400                 46.746667  47.011000

                                amax                       \
Rank_Level First Tier Top University Other Top University
country
All                           100.00                46.34
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21


Rank_Level Second Tier Top University Third Tier Top University     All
country
All                             51.29                     47.93  100.00
Argentina                         NaN                       NaN   45.66
Australia                       50.40                     47.47   51.61
Austria                           NaN                     47.78   47.78
Belgium                         49.73                     47.14   52.03

In [90]:
new_df.unstack().unstack().head()

      Rank_Level                 country
mean  First Tier Top University  All          58.350675
                                 Argentina          NaN
                                 Australia    47.942500
                                 Austria            NaN
                                 Belgium      51.875000
dtype: float64

# Datetime 
- Timestamp
- Datetimeindex
- Period
- PeriodIndex

## Timestamp

In [91]:
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [92]:
# yyyy, mm, dd, hh, mm
pd.Timestamp(2019,12,20,0,0)

Timestamp('2019-12-20 00:00:00')

In [93]:
# Error - dd inplace of month
# pd.Timestamp(2019,20,12,0,0)

In [94]:
pd.Timestamp(2019,12,20,0,0).isoweekday()

5

In [95]:
# extract
pd.Timestamp(2019,12,20,0,0).month

12

## Period

In [96]:
pd.Period('1/2016')
# Period is M for month; Period is D for day

Period('2016-01', 'M')

In [97]:
# mm/dd/yyyy
pd.Period('5/12/12').year

2012

In [98]:
pd.Period('1993')

Period('1993', 'A-DEC')

In [99]:
# Arithmetic
pd.Period('1/2021')+5

Period('2021-06', 'M')

In [100]:
pd.Period('12/2021')+5

Period('2022-05', 'M')

In [101]:
pd.Period('01/12/2019','M')+5

Period('2019-06', 'M')

## DatetimeIndex and PeriodIndex

In [102]:
t1 = pd.Series(list('abc'),[pd.Timestamp('2016-09-01'),pd.Timestamp('2016-09-02'),pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [103]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [104]:
t2 = pd.Series('def',[pd.Period('2016/09'),pd.Period('2016/10'),pd.Period('2016/11')])
t2

2016-09    def
2016-10    def
2016-11    def
Freq: M, dtype: object

In [105]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

## convert to datetime

In [106]:
d1=['2 Jun 2013','Aug 29, 2014','2016-06-26','7/12/16']
ts3 = pd.DataFrame(np.random.randint(10,100,(4,2)),index=d1,columns=list('ab'))

In [107]:
ts3

               a   b
2 Jun 2013    88  58
Aug 29, 2014  39  37
2016-06-26    59  30
7/12/16       95  38

In [108]:
# using pandas to_datetime, it will try to convert these to datetime
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  88  58
2014-08-29  39  37
2016-06-26  59  30
2016-07-12  95  38

In [109]:
pd.to_datetime('4,7,2012',dayfirst=True).day

4

## timedelta

In [110]:
# If we want to take the difference betweem sept 4rd and sept 1st, it will give us a timedelta of 3 days
pd.Timestamp('9/3/2016') - pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [111]:
pd.Timestamp('9/2/2016 8:10AM') - pd.Timedelta('12D 3H')

Timestamp('2016-08-21 05:10:00')

## Offset

In [112]:
# Apart form hours, week, day, month etc. It also has business day, end of month, semi month begin, etc.

pd.Timestamp('9/4/2016').weekday()

6

In [113]:
pd.Timestamp('9/4/2016').isoweekday()

7

In [114]:
pd.Timestamp('9/4/2016') + pd.offsets.Week()
# a week ahead

Timestamp('2016-09-11 00:00:00')

In [115]:
pd.Timestamp('9/4/2016')+pd.offsets.MonthEnd()
# last day of september

Timestamp('2016-09-30 00:00:00')

# Working with dates in a dataframe

In [116]:
dates = pd.date_range('03-01-2021', periods = 9, freq='2W-SUN') #biweeekly on sunday
dates

DatetimeIndex(['2021-03-07', '2021-03-21', '2021-04-04', '2021-04-18',
               '2021-05-02', '2021-05-16', '2021-05-30', '2021-06-13',
               '2021-06-27'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [117]:
pd.date_range('03-01-2021', periods =9,freq='B') # business days

DatetimeIndex(['2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04',
               '2021-03-05', '2021-03-08', '2021-03-09', '2021-03-10',
               '2021-03-11'],
              dtype='datetime64[ns]', freq='B')

In [118]:
pd.date_range('03-01-2021',periods=12,freq='QS-JUN') # Quarter start in June

DatetimeIndex(['2021-03-01', '2021-06-01', '2021-09-01', '2021-12-01',
               '2022-03-01', '2022-06-01', '2022-09-01', '2022-12-01',
               '2023-03-01', '2023-06-01', '2023-09-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

## Sample

In [119]:
dates = pd.date_range('10-01-2016',periods =9,freq='2W-SUN')
df=pd.DataFrame({'Count 1':100+np.random.randint(-5,10,9).cumsum(),
                'Count 2':120+np.random.randint(-5,10,9)}, index=dates)
df

            Count 1  Count 2
2016-10-02       95      127
2016-10-16       97      129
2016-10-30       92      128
2016-11-13       89      122
2016-11-27       97      128
2016-12-11      105      116
2016-12-25      114      128
2017-01-08      113      120
2017-01-22      119      116

In [1]:
# df.index.weekday_name
# shouldv'e results in Sunday

In [ ]:
# diff to find the difference between each date's value
df.diff()

In [ ]:
# mean count for each month
# we can do this using resample
# converting from a higher frequency from a lower freq is called downsampling

df.resample('M').mean()

In [ ]:
df.resample('Y').mean()

### Datetime indexing and slicing

In [ ]:
# String indexing
df['2017']

In [ ]:
df['2016-12']

In [ ]:
# slice on range of dates - onwards
df['2016-12':]

# Quiz 3

In [ ]:
x = 1
y = 1

In [ ]:
frames = ['P2010', 'P2011', 'P2012', 'P2013','P2014', 'P2015']
df = pd.DataFrame([{'P2010':451,'P2011':415,'P2012':400,'P2013':418,'P2014':490,'P2015':400},
                  {'P2010':151,'P2011':115,'P2012':100,'P2013':118,'P2014':190,'P2015':100}])

In [ ]:
df.columns

In [ ]:

df['AVG'] = df[frames].apply(lambda z: np.mean(z), axis=x)
result_df = df.drop(frames,axis=y)
result_df

In [ ]:
(pd.Timestamp('11/29/2019') + pd.offsets.MonthEnd()).weekday()

In [ ]:

staff_df = pd.DataFrame([{'First Name':'Kelly', 'Role':'Director of HR', 'Last Name':'State'},
                        {'First Name':'Sally', 'Role':'Course Liasion', 'Last Name':'Brooks'},
                        {'First Name':'James', 'Role':'Grader', 'Last Name':'Wilde'}])

student_df = pd.DataFrame([{'First Name':'Mike', 'School':'Law','Last Name':'Smith'},
                        {'First Name':'Sally', 'School':'Engineering', 'Last Name':'Brooks'},
                        {'First Name':'James', 'School':'Business','Last Name':'Ham'}])

In [ ]:
pd.merge(student_df, staff_df, how='left',on=['First Name','Last Name'])

In [ ]:
ts3

In [ ]:
# ts3.groupby('b',axis=1).head()

In [129]:
genre = "[\'comedy rock\', \'comic\', \'parody\']"
def get_genre(string):
    genres = []
    a = string.replace('\'', '')
    a = a.replace('[', '')
    a = a.replace(']', '')
    a = a.split(',')
    return a
gen = get_genre(genre)
print(gen)
print(type(gen))

['comedy rock', ' comic', ' parody']
<class 'list'>

# Quiz 4

In [133]:
a = np.arange(9)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [135]:
b = a[4:6]
b

array([4, 5])

In [136]:
b[:] = 40
b

array([40, 40])

In [137]:
a[4]+a[6]

46

In [138]:
import re
s = 'ABCAC'

In [142]:
len(re.match('A',s)) == True

TypeError: object of type 're.Match' has no len()

In [247]:
s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'
['ACAABAA','BACDBADDDFSDDDFFSSSASDAF','CB','FASD']
# s = 'ACAABAAC BACDBADDDFSDDDFFSSSASDAF CB FASD'

result = []
pattern = '([\w]{1,16})AAA'
# pattern = '(\w*)(AAA)'
# pattern = '(?P<a>[\w]*)DDD'

re.findall(pattern,s)
# for item in re.finditer(pattern, s):
#       # identify the group number below.
#       result.append(item.group())
# result

['ACAABAAC', 'DFSDDDFFSSSASDAF', 'CB']

In [199]:
tempdf = pd.Series({'d':4,'b':7,'a':-5,'c':3})
tempdf

d    4
b    7
a   -5
c    3
dtype: int64

In [201]:
tempdf.index[0]

'd'

In [203]:
tempdf['d']

4

In [204]:
tempdf[0]

4

In [205]:
tempdf.iloc[0]

4

In [248]:
tdf = pd.Series({'b':400,'c':700,'g':100,'d':323,'h':124})
tdf

b    400
c    700
g    100
d    323
h    124
dtype: int64

In [249]:
s3 = tempdf.add(tdf)
s3

a      NaN
b    407.0
c    703.0
d    327.0
g      NaN
h      NaN
dtype: float64

In [250]:
tempdf = pd.Series({'d':20,'b':15,'a':18,'c':31})
tdf = pd.Series({'b':20,'c':30,'g':15,'d':20,'h':20})
s3 = tempdf.add(tdf)
s3

a     NaN
b    35.0
c    61.0
d    40.0
g     NaN
h     NaN
dtype: float64

In [251]:
tempdf.add(tdf, fill_value = 0)['d']

40.0

In [254]:
df

            Count 1  Count 2
2016-10-02       95      127
2016-10-16       97      129
2016-10-30       92      128
2016-11-13       89      122
2016-11-27       97      128
2016-12-11      105      116
2016-12-25      114      128
2017-01-08      113      120
2017-01-22      119      116

In [257]:
df.reset_index().head()

       index  Count 1  Count 2
0 2016-10-02       95      127
1 2016-10-16       97      129
2 2016-10-30       92      128
3 2016-11-13       89      122
4 2016-11-27       97      128

In [258]:
tdf

b    20
c    30
g    15
d    20
h    20
dtype: int64

In [261]:
tdf['c':'h']

c    30
g    15
d    20
h    20
dtype: int64

In [260]:
tdf[['c','g','d']]

c    30
g    15
d    20
dtype: int64

In [263]:
anom = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
anom

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [264]:
anom[anom <= 3][anom > 0]

b    1
c    2
d    3
dtype: int64

In [265]:
anom[1:4]

b    1
c    2
d    3
dtype: int64

In [275]:
df8 = pd.DataFrame([{'a':5,'b':6,'c':20},{'a':5,'b':82,'c':28},{'a':71,'b':31,'c':92},{'a':67,'b':37,'c':49}],index=['R1','R2','R3','R4'])
df8

     a   b   c
R1   5   6  20
R2   5  82  28
R3  71  31  92
R4  67  37  49

In [276]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new

Count 1    208
Count 2    245
dtype: int64

In [277]:
df_new[1]

245

In [284]:
df10 = pd.DataFrame([{'a':5,'b':6,'c':20},{'a':5,'b':82,'c':28},{'a':5,'b':2,'c':None},{'a':71,'b':31,'c':92},{'a':67,'b':37,'c':49}],index=['R1','R2','R3','R4','R5'])
df10

     a   b     c
R1   5   6  20.0
R2   5  82  28.0
R3   5   2   NaN
R4  71  31  92.0
R5  67  37  49.0

In [286]:
df10 = df10.reset_index()
df10

  index   a   b     c
0    R1   5   6  20.0
1    R2   5  82  28.0
2    R3   5   2   NaN
3    R4  71  31  92.0
4    R5  67  37  49.0

In [289]:
df10.groupby('a').sum().iloc[0]['c']

48.0