# Assignment 4
## Description
In this assignment you must read in a file of metropolitan regions and associated sports teams from [assets/wikipedia_data.html](assets/wikipedia_data.html) and answer some questions about each metropolitan region. Each of these regions may have one or more teams from the "Big 4": NFL (football, in [assets/nfl.csv](assets/nfl.csv)), MLB (baseball, in [assets/mlb.csv](assets/mlb.csv)), NBA (basketball, in [assets/nba.csv](assets/nba.csv) or NHL (hockey, in [assets/nhl.csv](assets/nhl.csv)). Please keep in mind that all questions are from the perspective of the metropolitan region, and that this file is the "source of authority" for the location of a given sports team. Thus teams which are commonly known by a different area (e.g. "Oakland Raiders") need to be mapped into the metropolitan region given (e.g. San Francisco Bay Area). This will require some human data understanding outside of the data you've been given (e.g. you will have to hand-code some names, and might need to google to find out where teams are)!

For each sport I would like you to answer the question: **what is the win/loss ratio's correlation with the population of the city it is in?** Win/Loss ratio refers to the number of wins over the number of wins plus the number of losses. Remember that to calculate the correlation with [`pearsonr`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html), so you are going to send in two ordered lists of values, the populations from the wikipedia_data.html file and the win/loss ratio for a given sport in the same order. Average the win/loss ratios for those cities which have multiple teams of a single sport. Each sport is worth an equal amount in this assignment (20%\*4=80%) of the grade for this assignment. You should only use data **from year 2018** for your analysis -- this is important!

## Notes

1. Do not include data about the MLS or CFL in any of the work you are doing, we're only interested in the Big 4 in this assignment.
2. I highly suggest that you first tackle the four correlation questions in order, as they are all similar and worth the majority of grades for this assignment. This is by design!
3. It's fair game to talk with peers about high level strategy as well as the relationship between metropolitan areas and sports teams. However, do not post code solving aspects of the assignment (including such as dictionaries mapping areas to teams, or regexes which will clean up names).
4. There may be more teams than the assert statements test, remember to collapse multiple teams in one city into a single value!

## Question 1
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NHL** using **2018** data.

In [103]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

In [104]:
nhl_df=pd.read_csv("nhl.csv")
cities=pd.read_html("wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

In [105]:
def removenote(cities, tag):
    templist = []
    for a in cities[tag]:
        templist.append(a.split('[')[0])
    cities[tag] = templist
    return cities

In [106]:
cities = removenote(cities,'NHL')
# cities = removenote(cities,'NFL')
# cities = removenote(cities,'MLB')
# cities = removenote(cities,'NBA')

cities.head()

,Metropolitan area,Population (2016 est.)[8],NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars

In [107]:
cities = cities.rename(columns={'Population (2016 est.)[8]':'Population 2016'})
cities.head()

,Metropolitan area,Population 2016,NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars

In [108]:
cities = cities.drop(['NFL','MLB','NBA'],axis=1)

In [109]:
cities[cities['Metropolitan area'] == 'New York City']['NHL'][0]

'RangersIslandersDevils'

In [110]:
s = 'RangersIslandersDevils'

s = 'Red Wings'
pattern = '([A-Z][^\s][a-z]*)'
x = re.findall(pattern,cities[cities['Metropolitan area'] == 'New York City']['NHL'][0])
x

['Rangers', 'Islanders', 'Devils']

In [111]:
# replace new york city teams
pattern = '([A-Z][^\s][a-z]*)'
x = re.findall(pattern,cities[cities['Metropolitan area'] == 'New York City']['NHL'][0])
cities.iloc[0]['NHL'] = x
cities.head()

        Metropolitan area Population 2016                           NHL
0           New York City        20153634  [Rangers, Islanders, Devils]
1             Los Angeles        13310447                    KingsDucks
2  San Francisco Bay Area         6657982                        Sharks
3                 Chicago         9512999                    Blackhawks
4       Dallas–Fort Worth         7233323                         Stars

In [112]:
# replace LA teams
pattern = '([A-Z][^\s][a-z]*)'
x = re.findall(pattern,cities[cities['Metropolitan area'] == 'Los Angeles']['NHL'][1])
cities.iloc[1]['NHL'] = x
cities.head()

        Metropolitan area Population 2016                           NHL
0           New York City        20153634  [Rangers, Islanders, Devils]
1             Los Angeles        13310447                [Kings, Ducks]
2  San Francisco Bay Area         6657982                        Sharks
3                 Chicago         9512999                    Blackhawks
4       Dallas–Fort Worth         7233323                         Stars

In [113]:
cities = cities.explode('NHL')

In [114]:
cities.head()

  Metropolitan area Population 2016        NHL
0     New York City        20153634    Rangers
0     New York City        20153634  Islanders
0     New York City        20153634     Devils
1       Los Angeles        13310447      Kings
1       Los Angeles        13310447      Ducks

In [115]:
# remove the unnecessary first row
nhl_df = nhl_df.drop(0)
nhl_df.head()

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League
1,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL
2,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL
3,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL
4,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL
5,Detroit Red Wings,82,30,39,13,73,.445,217,255,-0.48,-0.01,.341,25,2018,NHL

In [118]:
nhl_df['team'] = nhl_df['team'].replace('*','')

In [119]:
nhl_df['team']

1      Tampa Bay Lightning*
2            Boston Bruins*
3      Toronto Maple Leafs*
4          Florida Panthers
5         Detroit Red Wings
               ...
166      Los Angeles Kings*
167         Phoenix Coyotes
168       Vancouver Canucks
169          Calgary Flames
170         Edmonton Oilers
Name: team, Length: 170, dtype: object

In [122]:
nhl_df['team'] = nhl_df['team'].apply(lambda x: x.replace('*',''))
nhl_df

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League
1,Tampa Bay Lightning,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL
2,Boston Bruins,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL
3,Toronto Maple Leafs,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL
4,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL
5,Detroit Red Wings,82,30,39,13,73,.445,217,255,-0.48,-0.01,.341,25,2018,NHL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,Los Angeles Kings,82,46,28,8,100,.610,206,174,0.40,0.01,.549,38,2014,NHL
167,Phoenix Coyotes,82,37,30,15,89,.543,216,231,-0.16,0.03,.457,31,2014,NHL
168,Vancouver Canucks,82,36,35,11,83,.506,196,223,-0.30,0.03,.451,31,2014,NHL
169,Calgary Flames,82,35,40,7,77,.470,209,241,-0.35,0.04,.402,28,2014,NHL
170,Edmonton Oilers,82,29,44,9,67,.409,203,270,-0.75,0.07,.348,25,2014,NHL

In [124]:
nhl_df['team'].to_list()

['Tampa Bay Lightning',
 'Boston Bruins',
 'Toronto Maple Leafs',
 'Florida Panthers',
 'Detroit Red Wings',
 'Montreal Canadiens',
 'Ottawa Senators',
 'Buffalo Sabres',
 'Metropolitan Division',
 'Washington Capitals',
 'Pittsburgh Penguins',
 'Philadelphia Flyers',
 'Columbus Blue Jackets',
 'New Jersey Devils',
 'Carolina Hurricanes',
 'New York Islanders',
 'New York Rangers',
 'Central Division',
 'Nashville Predators',
 'Winnipeg Jets',
 'Minnesota Wild',
 'Colorado Avalanche',
 'St. Louis Blues',
 'Dallas Stars',
 'Chicago Blackhawks',
 'Pacific Division',
 'Vegas Golden Knights',
 'Anaheim Ducks',
 'San Jose Sharks',
 'Los Angeles Kings',
 'Calgary Flames',
 'Edmonton Oilers',
 'Vancouver Canucks',
 'Arizona Coyotes',
 'Atlantic Division',
 'Montreal Canadiens',
 'Ottawa Senators',
 'Boston Bruins',
 'Toronto Maple Leafs',
 'Tampa Bay Lightning',
 'Florida Panthers',
 'Detroit Red Wings',
 'Buffalo Sabres',
 'Metropolitan Division',
 'Washington Capitals',
 'Pittsburgh Penguins',
 'Columbus Blue Jackets',
 'New York Rangers',
 'New York Islanders',
 'Philadelphia Flyers',
 'Carolina Hurricanes',
 'New Jersey Devils',
 'Central Division',
 'Chicago Blackhawks',
 'Minnesota Wild',
 'St. Louis Blues',
 'Nashville Predators',
 'Winnipeg Jets',
 'Dallas Stars',
 'Colorado Avalanche',
 'Pacific Division',
 'Anaheim Ducks',
 'Edmonton Oilers',
 'San Jose Sharks',
 'Calgary Flames',
 'Los Angeles Kings',
 'Arizona Coyotes',
 'Vancouver Canucks',
 'Atlantic Division',
 'Florida Panthers',
 'Tampa Bay Lightning',
 'Detroit Red Wings',
 'Boston Bruins',
 'Ottawa Senators',
 'Montreal Canadiens',
 'Buffalo Sabres',
 'Toronto Maple Leafs',
 'Metropolitan Division',
 'Washington Capitals',
 'Pittsburgh Penguins',
 'New York Rangers',
 'New York Islanders',
 'Philadelphia Flyers',
 'Carolina Hurricanes',
 'New Jersey Devils',
 'Columbus Blue Jackets',
 'Central Division',
 'Dallas Stars',
 'St. Louis Blues',
 'Chicago Blackhawks',
 'Nashville Predators',
 'Minnesota Wild',
 'Colorado Avalanche',
 'Winnipeg Jets',
 'Pacific Division',
 'Anaheim Ducks',
 'Los Angeles Kings',
 'San Jose Sharks',
 'Arizona Coyotes',
 'Calgary Flames',
 'Vancouver Canucks',
 'Edmonton Oilers',
 'Atlantic Division',
 'Montreal Canadiens',
 'Tampa Bay Lightning',
 'Detroit Red Wings',
 'Ottawa Senators',
 'Boston Bruins',
 'Florida Panthers',
 'Toronto Maple Leafs',
 'Buffalo Sabres',
 'Metropolitan Division',
 'New York Rangers',
 'Washington Capitals',
 'New York Islanders',
 'Pittsburgh Penguins',
 'Columbus Blue Jackets',
 'Philadelphia Flyers',
 'New Jersey Devils',
 'Carolina Hurricanes',
 'Central Division',
 'St. Louis Blues',
 'Nashville Predators',
 'Chicago Blackhawks',
 'Minnesota Wild',
 'Winnipeg Jets',
 'Dallas Stars',
 'Colorado Avalanche',
 'Pacific Division',
 'Anaheim Ducks',
 'Vancouver Canucks',
 'Calgary Flames',
 'Los Angeles Kings',
 'San Jose Sharks',
 'Edmonton Oilers',
 'Arizona Coyotes',
 'Atlantic Division',
 'Boston Bruins',
 'Tampa Bay Lightning',
 'Montreal Canadiens',
 'Detroit Red Wings',
 'Ottawa Senators',
 'Toronto Maple Leafs',
 'Florida Panthers',
 'Buffalo Sabres',
 'Metropolitan Division',
 'Pittsburgh Penguins',
 'New York Rangers',
 'Philadelphia Flyers',
 'Columbus Blue Jackets',
 'Washington Capitals',
 'New Jersey Devils',
 'Carolina Hurricanes',
 'New York Islanders',
 'Central Division',
 'Colorado Avalanche',
 'St. Louis Blues',
 'Chicago Blackhawks',
 'Minnesota Wild',
 'Dallas Stars',
 'Nashville Predators',
 'Winnipeg Jets',
 'Pacific Division',
 'Anaheim Ducks',
 'San Jose Sharks',
 'Los Angeles Kings',
 'Phoenix Coyotes',
 'Vancouver Canucks',
 'Calgary Flames',
 'Edmonton Oilers']

In [ ]:
s = 'Tampa Bay Lightning*'

In [ ]:

def nhl_correlation(): 
    # YOUR CODE HERE
    raise NotImplementedError()
    
    population_by_region = [] # pass in metropolitan area population from cities
    win_loss_by_region = [] # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q1: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q1: There should be 28 teams being analysed for NHL"
    
    return stats.pearsonr(population_by_region, win_loss_by_region)

## Question 2
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NBA** using **2018** data.

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nba_df=pd.read_csv("assets/nba.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def nba_correlation():
    # YOUR CODE HERE
    raise NotImplementedError()
    
    population_by_region = [] # pass in metropolitan area population from cities
    win_loss_by_region = [] # pass in win/loss ratio from nba_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q2: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q2: There should be 28 teams being analysed for NBA"

    return stats.pearsonr(population_by_region, win_loss_by_region)

## Question 3
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **MLB** using **2018** data.

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def mlb_correlation(): 
    # YOUR CODE HERE
    raise NotImplementedError()
    
    population_by_region = [] # pass in metropolitan area population from cities
    win_loss_by_region = [] # pass in win/loss ratio from mlb_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q3: Your lists must be the same length"
    assert len(population_by_region) == 26, "Q3: There should be 26 teams being analysed for MLB"

    return stats.pearsonr(population_by_region, win_loss_by_region)

## Question 4
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NFL** using **2018** data.

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nfl_df=pd.read_csv("assets/nfl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def nfl_correlation(): 
    # YOUR CODE HERE
    raise NotImplementedError()
    
    population_by_region = [] # pass in metropolitan area population from cities
    win_loss_by_region = [] # pass in win/loss ratio from nfl_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q4: Your lists must be the same length"
    assert len(population_by_region) == 29, "Q4: There should be 29 teams being analysed for NFL"

    return stats.pearsonr(population_by_region, win_loss_by_region)

## Question 5
In this question I would like you to explore the hypothesis that **given that an area has two sports teams in different sports, those teams will perform the same within their respective sports**. How I would like to see this explored is with a series of paired t-tests (so use [`ttest_rel`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html)) between all pairs of sports. Are there any sports where we can reject the null hypothesis? Again, average values where a sport has multiple teams in one region. Remember, you will only be including, for each sport, cities which have teams engaged in that sport, drop others as appropriate. This question is worth 20% of the grade for this assignment.

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
nhl_df=pd.read_csv("assets/nhl.csv")
nba_df=pd.read_csv("assets/nba.csv")
nfl_df=pd.read_csv("assets/nfl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def sports_team_performance():
    # YOUR CODE HERE
    raise NotImplementedError()
    
    # Note: p_values is a full dataframe, so df.loc["NFL","NBA"] should be the same as df.loc["NBA","NFL"] and
    # df.loc["NFL","NFL"] should return np.nan
    sports = ['NFL', 'NBA', 'NHL', 'MLB']
    p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)
    
    assert abs(p_values.loc["NBA", "NHL"] - 0.02) <= 1e-2, "The NBA-NFL p-value should be around 0.02"
    assert abs(p_values.loc["MLB", "NFL"] - 0.80) <= 1e-2, "The MLB-NFL p-value should be around 0.80"
    return p_values